{% extends "base.html" %}

{% block content %}
    <div style="width: 100%; height: 18vh; left: 0; top: 14vh; position: absolute; background: rgba(185, 220, 241, 0.65)"></div>
    <div style="height: 4vh; left: 30%; top: 22vh; position: absolute; color: black; font-size: 1.8em; font-family: Inter; font-weight: 500; line-height: 1.2em; word-wrap: break-word">Making work more efficient</div>
    <div style="height: 4vh; left: 38%; top: 65vh; position: absolute; text-align: center; color: black; font-size: 2em; font-family: Inter; font-weight: 500; line-height: 1.2em; word-wrap: break-word">Omni-Conversion</div>
    <div style="height: 4vh; left: 20%; top: 28vh; position: absolute; color: black; font-size: 1.2em; font-family: Inter; font-weight: 500; line-height: 1.2em; word-wrap: break-word">Scan, file, upload, find, and collect medical record information easily</div>
    <div style="height: 8vh; left: 31%; top: 35vh; position: absolute; color: black; font-size: 1.5em; font-family: Inter; font-weight: 500; line-height: 1.2em; word-wrap: break-word">Upload documents for saving and free synchronization
    <br/>Synchronization, backup, easy to collect and manage the existing medical record data</div>
    <div style="width: 60%; height: 8vh; left: 31%; top: 48vh; position: absolute; color: black; font-size: 1.5em; font-family: Inter; font-weight: 500; line-height: 1.2em; word-wrap: break-word">OCR recognition, picture or document to text
    <br/>Instantaneous conversion of long text from pictures to text, recognizes handwritten language</div>
    <div style="width: 80%; height: 7vh; left: 14%; top: 70vh; position: absolute; color: black; font-size: 1.5em; font-family: Inter; font-weight: 500; line-height: 1.2em; word-wrap: break-word">One key to accurately extract text (OCR), more support for PDF, Word, handwritten cases, such as pictures, free conversion of a variety of document formats</div>
    <div style="padding-left: 1em; padding-right: 1em; padding-top: 0.5em; padding-bottom: 0.5em; left: 65%; top: 57vh; position: absolute; background: #4585B1; border-radius: 8px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: white; font-size: 1.5em; font-family: Inter; font-weight: 500; line-height: 1.2em; word-wrap: break-word">Learn more</div>
    </div>
    <div style="padding-left: 1em; padding-right: 1em; padding-top: 0.5em; padding-bottom: 0.5em; left: 65%; top: 92vh; position: absolute; background: #4585B1; border-radius: 8px; overflow: hidden; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div style="color: white; font-size: 1.5em; font-family: Inter; font-weight: 500; line-height: 1.2em; word-wrap: break-word">Learn more</div>
    </div>
    <div style="width: 80%; height: 3vh; left: 10%; top: 16vh; position: absolute; text-align: center; color: black; font-size: 2em; font-family: Inter; font-weight: 500; line-height: 1.2em; word-wrap: break-word">Scanning & editing & management, one-stop platform</div>
    <img style="width: 6%; height: 6vh; left: 21%; top: 35vh; position: absolute;" src="/static/images/upload.png" ></img>
    <img style="width: 5%; height: 8vh; left: 22%; top: 49vh; position: absolute" src="/static/images/text.png" />
    <img style="width: 16%; height: 21vh; left: 40%; top: 78vh; position: absolute" src="/static/images/computer.png" />
    <img style="width: 3%; height: 5vh; left: 60%; top: 79vh; position: absolute; transform: rotate(26.77deg); transform-origin: 0 0" src="/static/images/pdf.png" />
    <img style="width: 5%; height: 7vh; left: 33%; top: 84vh; position: absolute; transform: rotate(-19.58deg); transform-origin: 0 0" src="/static/images/doc.png" />
    <img style="width: 4%; height: 6vh; left: 59%; top: 88vh; position: absolute; transform: rotate(12.77deg); transform-origin: 0 0" src="/static/images/img.png" />
    <div style="width: 6%; height: 10vh; left: 45%; top: 81vh; position: absolute">
        <div style="width: 100%; height: 100%; left: 0; top: 0; position: absolute"></div>
        <div style="width: 60%; height: 60%; left: 20%; top: 20%; position: absolute; background: #7F7F7F"></div>
    </div>
{% endblock %}
