{% extends "patient_base.html" %}

{% block action %}
    <div class="d-flex justify-content-center gap-2">
        <button id="downloadButton" type="button" class="btn btn-primary">Download fhir</button>
        <button id="deleteButton" type="button" class="btn btn-danger">Delete</button>
        <button id="backButton" type="button" class="btn btn-secondary">Back</button>
    </div>
    <script>
        const name = window.location.pathname.split('/').pop();
        document.getElementById('backButton').addEventListener('click', function() {
            window.location.href = '/history';
        });
        document.getElementById('downloadButton').addEventListener('click', function() {
            window.location.href = '/download/' + name;
        })
        document.getElementById('deleteButton').addEventListener('click', function() {
            fetch('/ocr_delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'      
                },
                body: JSON.stringify({
                    name: name
                })
            }).then(response => response.json()).then(data => {
                if (data.status === 'success') {
                    window.location.replace('/history');
                } else {
                    console.error('Error:', data.message);
                    document.getElementById('error-message').innerText = data.message;
                    document.getElementById('error-modal').style.display = 'block';
                }
            })
        })
    </script>
{% endblock %}